<template name="Layouts_body">
  {{> Components_navigationMenu}}
  {{> Template.dynamic template=main}}
  <div class="ui modal first">
    <div class="ui center aligned header">Tropical Storm Alert</div>
    <div class="ui center aligned list">
      <div class="ui checkbox item">
        <input type="checkbox" name="siren">
        <label>Warning Siren</label>
      </div>
      <div class="ui checkbox item">
        <input type="checkbox" name="text">
        <label>Text Message</label>
      </div>
      <div class="ui checkbox item">
        <input type="checkbox" name="radio">
        <label>Radio Broadcast</label>
      </div>
      <div class="ui checkbox item">
        <input type="checkbox" name="tv">
        <label>Television Broadcast</label>
      </div>
    </div>
    <div class="actions">
      <div class="ui approve button">Approve</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>

  <div class="ui modal second">
    <div class="ui center aligned header">Send Alert?</div>
    <div class="content">
      -insert alerts here-
    </div>
    <div class="actions">
      <div class="ui approve button">Approve</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>

  <div class="ui modal third">
    <div class="ui center aligned header">Alert Sent</div>
    <div class="ui center aligned content">Click outside window to close.</div>
  </div>
</template>