<template name="Components_navigationMenu">
  <div class="ui top three item menu">
    <a  href="/alert-system" class="item" style="background-color: #ff5555">
      <i class="exclamation triangle icon"></i>
      Hawaii Alert System
      <i class="triangle exclamation icon"></i>
    </a>

    <a href="/" class="item" style="background-color: #FABC2E">
      Home
    </a>

    <a href="/system-test" class="item" style="background-color: #5555ff">
      <i class="test icon"></i>
      System Test
      <i class="test icon"></i>
    </a>
  </div>
</template>